<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.dengit.phrippple"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <!--umeng begin-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!--umeng end-->

    <application
        android:name=".APP"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:scheme="phrippple"
                    android:host="phone-callback" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.login.AuthorizeActivity"
            android:theme="@style/AuthorizeDialogStyle" />

        <activity android:name=".ui.shot.ShotActivity"/>
        <activity android:name=".ui.comment.CommentActivity"/>
        <activity android:name=".ui.profile.ProfileActivity"/>
        <activity android:name=".ui.like.LikeActivity"/>
        <activity android:name=".ui.bucket.BucketActivity"/>
        <activity android:name=".ui.fan.FanActivity"/>

        <activity
            android:name=".DetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".DetailActivityL"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f37655580f6d27d8f108567ba6744f1c0465c058" />

        <meta-data android:value="5668fe12e0f55ac20b0013f2" android:name="UMENG_APPKEY"></meta-data>
        <meta-data android:value="TEST" android:name="UMENG_CHANNEL"/>
    </application>
</manifest>
